{% block oh_macro_widget %}
    <div class="float-holder {% if form.field.vars.errors|length > 0 %} validation-error{% endif %}">
        <i class="fa fa-android">&nbsp;{{ form_widget(form.android) }}</i>
        <i class="fa fa-apple">&nbsp;{{ form_widget(form.ios) }}</i>
        <div class="input-append">
            {{ form_widget(form.field) }}
            <label class="add-on">
                <span class="">=</span>
            </label>
        </div>
        <div class="input-append">
            {{ form_widget(form.value) }}
        </div>
    </div>
    {{ form_rest(form) }}
{%  endblock %}
