{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', account, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('oh.account.name.label'|trans, account.name) }}
                {{ UI.renderProperty('oh.advertiser.name.label'|trans, account.advertiser.name) }}
                {{ UI.renderProperty('oh.account.status.label'|trans, account.status|capitalize) }}
                {{ UI.renderProperty('oh.account.client_id.label'|trans, account.clientId) }}
                {{ UI.renderProperty('oh.account.token.label'|trans, account.token) }}
                {{ UI.renderProperty('oh.account.request_url.label'|trans, account.requestUrl) }}
                {{ UI.renderProperty('oh.account.payout_percent.label'|trans, account.payoutPercent*100|number_format(2) ~ '%') }}
                {{ UI.renderProperty('oh.account.daily_cap.label'|trans, account.dailyCap) }}
                {{ UI.renderProperty('oh.account.daily_budget.label'|trans ~ '($)', account.dailyBudget|number_format(2)) }}
                {{ UI.renderProperty('oh.account.interval.label'|trans ~ '(minute)', account.fetchInterval) }}
                {{ UI.renderProperty('oh.account.hide_referrer.label'|trans, account.hideReferrer ? 'True' : 'False') }}
            </div>
            <div class="responsive-block">
                {%- set macros = [] %}
                {% for macro in account.clickMacros if account.clickMacros is not empty %}
                    {% set macros = macros|merge([macro.field ~ '=' ~ macro.value]) %}
                {% endfor %}
                {{ UI.renderProperty('oh.account.macros.label'|trans, macros|join('&')) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(account) }}
        </div>
    </div>
</div>
