{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'oh-advertiser-grid' %}
{% set pageTitle = 'oh.advertiser.entity_plural_label'|trans %}

{% block navButtons %}
  {% if is_granted('oh_advertiser_create') %}
    <div class="btn-group">
      {{ UI.addButton({
        'path' : path('oh_advertiser_create'),
        'entity_label': 'oh.advertiser.entity_label'|trans
      }) }}
    </div>
  {% endif %}
{% endblock %}

