{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set hasGrantedNameView = is_granted('VIEW', entity, 'name') %}
{% set gridName = 'oh-advertiser-accounts-grid' %}

{% oro_title_set({params : {"%account.name%": hasGrantedNameView
    ? entity.name|default('N/A')
    : 'view %fieldName% not granted'|trans({'%fieldName%': 'oh.advertiser.name.label'|trans}) }})
%}

{% block navButtons %}
    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path': path('oh_advertiser_update', {'id': entity.id}),
            'entity_label': 'oh.advertiser.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oh_advertiser_index'),
        'indexLabel': 'oh.advertiser.entity_plural_label'|trans,
        'rawEntityTitle': not hasGrantedNameView,
        'entityTitle': hasGrantedNameView
        ? entity.name|default('N/A')
        : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'oh.advertiser.name.label'|trans}))
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set advertiserInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'oh.advertiser.widgets.advertiser_information'|trans,
            'url': path('oh_advertiser_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set accountWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_advertiser_widget_accounts', {id: entity.id}),
            'title': 'Accounts'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oh.advertiser.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [advertiserInformationWidget] },
            ]
        },
        {
            'title': 'Accounts',
            'subblocks': [
                {'data' : [accountWidget] },
            ]
        }
    ] %}

    {% set id = 'oh-advertiser-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
