{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'oh-media-grid' %}
{% set pageTitle = 'oh.media.entity_plural_label'|trans %}

{% block navButtons %}
  {% if is_granted('oh_media_create') %}
    <div class="btn-group">
      {{ UI.addButton({
        'path' : path('oh_media_create'),
        'entity_label': 'oh.media.entity_label'|trans
      }) }}
    </div>
  {% endif %}
{% endblock %}
