{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set hasGrantedNameView = is_granted('VIEW', entity, 'name') %}
{% set gridName = 'oh-media-accounts-grid' %}

{% oro_title_set({params : {"%account.name%": hasGrantedNameView
    ? entity.name|default('N/A')
    : 'view %fieldName% not granted'|trans({'%fieldName%': 'oh.media.name.label'|trans}) }})
%}

{% block navButtons %}
    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path': path('oh_media_update', {'id': entity.id}),
            'entity_label': 'oh.media.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oh_media_index'),
        'indexLabel': 'oh.media.entity_plural_label'|trans,
        'rawEntityTitle': not hasGrantedNameView,
        'entityTitle': hasGrantedNameView
        ? entity.name|default('N/A')
        : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'oh.media.name.label'|trans}))
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set mediaInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'oh.media.widgets.media_information'|trans,
            'url': path('oh_media_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set blacklistWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_media_widget_blacklists', {id: entity.id}),
            'title': 'Sub Affiliate Blacklists'
        }) }}
    {% endset %}

    {% set postbackWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_media_widget_postbacks', {id: entity.id}),
            'title': 'Affiliate Postback Lists'
        }) }}
    {% endset %}

    {% set offersWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_media_widget_offers', {id: entity.id}),
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oh.media.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [mediaInformationWidget] },
                {'data' : [blacklistWidget] },
                {'data' : [postbackWidget] },
            ]
        },
        {
            'title': entity.name ~ ' owns Offers',
            'subblocks': [
                {'data' : [offersWidget] },
            ]
        }
    ] %}

    {% set id = 'oh-media-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
