{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', application, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('Name', application.name) }}
                {{ UI.renderProperty('Package Name', application.pkgName) }}
                {{ UI.renderProperty('OS Family', application.osFamily) }}
                {{ UI.renderProperty('Preview Url', application.previewUrl) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(application) }}
        </div>
    </div>
</div>
