{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'oh-application-grid' %}
{% set pageTitle = 'oh.page.application.list'|trans %}
