{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set hasGrantedNameView = is_granted('VIEW', entity, 'name') %}
{% set gridName = 'oh-application-offers-grid' %}

{% oro_title_set({params : {"%account.name%": hasGrantedNameView
    ? entity.name|default('N/A')
    : 'view %fieldName% not granted'|trans({'%fieldName%': 'Application'}) }})
%}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oh_application_index'),
        'indexLabel': 'Application',
        'rawEntityTitle': not hasGrantedNameView,
        'entityTitle': hasGrantedNameView
        ? entity.name|default('N/A')
        : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'Application'}))
    } %}
    {% set avatar = entity.iconUrl %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set applicationInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'Application Infomation',
            'url': path('oh_application_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set offersWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_application_widget_offers', {id: entity.id}),
            'title': ''
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oh.advertiser.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [applicationInformationWidget] },
            ]
        },
        {
            'title': entity.name ~ ' owns Offers',
            'class': 'active',
            'subblocks': [
                {'data' : [offersWidget] },
            ]
        }
    ] %}

    {% set id = 'oh-application-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
