{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', offer, 'name') %}
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('App Name', "<a href='"~path('oh_application_view', {id: offer.application.id})~"'>"~offer.application.name~"</a>") }}
                {{ UI.renderProperty('Account Name', offer.account.name ~ '(' ~ offer.account.advertiser.name ~ ')') }}
                {{ UI.renderProperty('Platform', offer.platform) }}
                {{ UI.renderProperty('Preview Url', offer.application.previewUrl) }}
                {{ UI.renderProperty('Package Name', offer.application.pkgName) }}
                {{ UI.renderProperty('Click Url', offer.clickUrl) }}
                {{ UI.renderProperty('Traffic Type', offer.trafficType) }}
                {{ UI.renderProperty('Bid Type', offer.bidType) }}
                {{ UI.renderProperty('OS Version', offer.osMinVersion ~ ' - ' ~ offer.osMaxVersion) }}
                {{ UI.renderProperty('External Id', offer.externalId) }}
                {%- set countries = "" -%}
                {%- set price = 0 -%}
                {%- set currency = 'USD' -%}
                {% for target in offer.targets if offer.targets is not empty %}
                    {% if target.parent is empty %}
                        {% set countries = target.countrySet %}
                        {% set currency = target.currency %}
                        {% set price = target.price %}
                    {% endif %}
                {% endfor %}
                {{ UI.renderProperty('Price', currency ~ ' ' ~ price|number_format(2)) }}
                {{ UI.renderProperty('Target Geo(s)', countries) }}
                {{ UI.renderProperty('Launch Date', offer.launchAt ? offer.launchAt|date : 'N/A') }}
                {{ UI.renderProperty('Expires Date', offer.expiredAt ? offer.expiredAt|date : 'N/A') }}
                {{ UI.renderProperty('Created Date', offer.createdAt|date) }}
                {{ UI.renderProperty('KPI', offer.kpi) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(offer) }}
        </div>
    </div>
</div>
