{#{% set blackListUrl = path('oro_api_get_contact_addresses', {'mediaId': entity.id}) %}#}
{#{% set blacklistCreateUrl = path('oro_contact_address_create', {'mediaId': entity.id}) %}#}
{% set blackListUrl = '#' %}
{% set blacklistCreateUrl = '#' %}
{% set blacklistUpdateRoute = 'rhizen_blacklist_update' %}
{% set blacklistDeleteRoute = 'rhizen_blacklist_update' %}
{% set ownerParam = 'mediaId' %}

{# Address book widget to use on view entity pages #}
<div class="widget-content">
    {# JS template for address view #}
    {% include "RhizenPlatformBundle:Js:blacklist.js.twig" %}

    {# widget container and actions #}
    <div class="widget-actions">
        {% if blacklist_edit_acl_resource is not defined or is_granted(blacklist_edit_acl_resource) %}
            <button class="btn btn-mini btn-primary btn-uppercase" type="button" data-action-name="add_blacklist"> + {{ 'Add Blacklist' }}</button>
        {% endif %}
    </div>
    <div class="list-box" id="blacklist"></div>

    <script type="text/javascript">
        require(['jquery', 'underscore', 'routing', 'ohcore/js/blacklist', 'oroui/js/widget-manager'],
            function($, _, routing, Blacklist, widgetManager) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget){
                    /** @type ohcore.Blacklist */
                    var blackList = new Blacklist({
                        el: '#blacklist',
                        blackListUrl: {{ blackListUrl|json_encode|raw }},
                        blacklistCreateUrl: {{ blacklistCreateUrl|json_encode|raw }},
                        blacklistUpdateUrl: function() {
                            var bl = arguments[0];
                            return routing.generate(
                                '{{ blacklistUpdateRoute }}',
                                {
                                    '{{ ownerParam }}': {{ entity.id|json_encode|raw }},
                                    'id': bl.get('id')
                                }
                            )
                        },
                        blacklistDeleteUrl: function() {
                            var bl = arguments[0];
                            return routing.generate(
                                '{{ blacklistDeleteRoute }}',
                                {
                                    '{{ ownerParam }}': {{ entity.id|json_encode|raw }},
                                    'blacklistId': bl.get('id')
                                }
                            )
                        }
                    });
                    widget.getAction('add_blacklist', 'adopted', function(action) {
                        action.on('click', _.bind(blackList.createBlacklist, blackList));
                    });
                    blackList
                        .getCollection()
                        .reset({{ render(blackListUrl) }});
                });
            });
    </script>
</div>

