{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', media, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('oh.media.name.label'|trans, media.name) }}
                {{ UI.renderProperty('oh.media.status.label'|trans, media.status|capitalize) }}
                {{ UI.renderProperty('oh.media.client_id.label'|trans, media.clientId) }}
                {{ UI.renderProperty('oh.media.token.label'|trans, media.token) }}
                {{ UI.renderProperty('oh.media.daily_cap.label'|trans, media.dailyCap|number_format) }}
                {{ UI.renderProperty('oh.media.daily_credit.label'|trans ~ '($)', media.dailyCap|number_format(2)) }}
                {{ UI.renderProperty('oh.media.credit_level.label'|trans, media.creditLevel) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(media) }}
        </div>
    </div>
</div>
