{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', advertiser, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('oh.advertiser.name.label'|trans, advertiser.name) }}
                {{ UI.renderHtmlProperty('oh.advertiser.website.label'|trans,
                    '<a href="' ~ advertiser.website ~ '" target="_blank">' ~ advertiser.website ~ '</a>') }}
                {{ UI.renderProperty('oh.advertiser.conversion_window.label'|trans, advertiser.conversionWindow) }}
            </div>
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('oh.advertiser.memo.label'|trans, advertiser.memo) }}
                {{ UI.renderProperty('Conversion Postback', 'https://track.orienthuge.com/conversion?tid={TID}&source=' ~ advertiser.name|lower) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(advertiser) }}
        </div>
    </div>
</div>
