{% set status = record.getValue('onlineStatus') %}

{% if status is empty %}
    {% set status = "unknown" %}
{% endif %}
<span class="label label-{% if (status == 'enabled') %}success{% elseif status == 'disabled' %}danger{% elseif status == 'paused' %}warning{% else %}info{% endif %}">
    {{ status|capitalize }}
</span>
