{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'oh-account-grid' %}
{% set pageTitle = 'oh.page.account.list'|trans %}

{% block navButtons %}
    {% if is_granted('oh_account_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oh_account_create'),
                'entity_label': 'oh.account.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
