{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% form_theme form with ['OrientHugeCoreBundle:Include:fields.html.twig', 'OroFormBundle:Form:fields.html.twig'] %}

{% set name = 'N/A' %}
{% if entity.name %}
    {% set name = is_granted('VIEW', entity, 'name')
        ? entity.name|default('N/A')
        : 'view %fieldName% not granted'|trans({'%fieldName%': 'oh.account.name.label'|trans})
    %}
{% endif %}
{% set entityId = form.vars.value.id %}
{% oro_title_set({params : {"%account.name%": name }}) %}
{% set gridName = 'account-medias-grid' %}

{% set formAction = form.vars.value.id ? path('oh_account_update', { 'id': form.vars.value.id }) : path('oh_account_create')  %}

{% block head_script %}
    {{ parent() }}
    {% block stylesheets %}
        {{ form_stylesheet(form) }}
    {% endblock %}
{% endblock %}

{% block navButtons %}
    {{ UI.cancelButton(path('oh_account_index')) }}
    {% set html = UI.saveAndCloseButton({
        'route': 'oh_account_view',
        'params': {'id': '$id'}
    }) %}
    {% if is_granted('oh_account_create') %}
        {% set html = html ~ UI.saveAndNewButton({
            'route': 'oh_account_create'
        }) %}
    {% endif %}
    {% if form.vars.value.id or is_granted('oh_account_update') %}
        {% set html = html ~ UI.saveAndStayButton({
            'route': 'oh_account_update',
            'params': {'id': '$id'}
        }) %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set name = 'N/A' %}
        {% if form.vars.value.name %}
            {% set name = is_granted('VIEW', form.vars.value, 'name')
                ? form.vars.value.name|default('N/A')
                : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'oh.account.name.label'|trans}))
            %}
        {% endif %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('oh_account_index'),
            'indexLabel': 'oh.account.entity_plural_label'|trans,
            'entityTitle': name
        }%}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oh.account.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'account-profile' %}

    {% set dataBlocks = [{
        'title': 'General'|trans,
        'class': 'active',
        'subblocks': [
            {
                'title': 'Basic Information',
                'data': [
                    form_row(form.advertiser),
                    form_row(form.name),
                    form_row(form.status),
                    form_row(form.clientId),
                    form_row(form.token),
                    form_row(form.requestUrl),
                    form_row(form.payoutPercent),
                    form_row(form.dailyCap),
                    form_row(form.dailyBudget),
                    form_row(form.fetchInterval),
                    form_row(form.hideReferrer),
                ]
            },
            {
                'title': 'ClickUrl Macros',
                'data': [
                    form_widget(form.clickMacros),
                    form_widget(form.appendMedias, {'id': 'accountAppendMedias'}),
                    form_widget(form.removeMedias, {'id': 'accountRemoveMedias'}),
                ]
            },
        ]
    }] %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
        'title' : 'Medias',
        'subblocks': [{
            'title' : null,
            'useSpan': false,
            'data' : [dataGrid.renderGrid(gridName, {account_id: entityId}, { cssClass: 'inner-grid' })]
        }]
    }]) %}

    {% set data = {
        'formErrors': form_errors(form) ? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    <div class="responsive-form-inner">
        {{ parent() }}
    </div>
{% endblock content_data %}
