{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set hasGrantedNameView = is_granted('VIEW', entity, 'name') %}
{% set gridName = 'oh-account-macros-grid' %}

{% oro_title_set({params : {"%account.name%": hasGrantedNameView
    ? entity.name|default('N/A')
    : 'view %fieldName% not granted'|trans({'%fieldName%': 'account name'}) }})
%}

{% block navButtons %}
    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path': path('oh_account_update', {'id': entity.id}),
            'entity_label': 'oh.account.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oh_account_index'),
        'indexLabel': 'oh.account.entity_plural_label'|trans,
        'rawEntityTitle': not hasGrantedNameView,
        'entityTitle': hasGrantedNameView
        ? entity.name|default('N/A')
        : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'account name'}))
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set accountInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'Account Information',
            'url': path('oh_account_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General',
            'class': 'active',
            'subblocks': [
                {'data' : [accountInformationWidget] },
            ]
        }
    ] %}

    {% set id = 'oh-account-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
