{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set hasGrantedNameView = is_granted('VIEW', entity, 'name') %}
{% set gridName = 'oh-offer-grid' %}

{% oro_title_set({params : {"%offer.name%": hasGrantedNameView
    ? entity.name|default('N/A')
    : 'view %fieldName% not granted'|trans({'%fieldName%': 'offer name'}) }})
%}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oh_offer_index'),
        'indexLabel': 'Offers',
        'rawEntityTitle': not hasGrantedNameView,
        'entityTitle': hasGrantedNameView
        ? entity.name|default('N/A')
        : UI.renderDisabledLabel('view %fieldName% not granted'|trans({'%fieldName%': 'offer name'}))
    } %}
    {% set avatar = entity.application.iconUrl %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set offerInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'Offer Information',
            'url': path('oh_offer_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set targetsWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oh_offer_widget_targets', {id: entity.id}),
            'title': 'Targets'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General',
            'class': 'active',
            'subblocks': [
                {'data' : [offerInformationWidget] },
                {'data' : [targetsWidget] },
            ]
        }
    ] %}

    {% set id = 'oh-offer-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
